.transaction-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.transaction-list p {
  text-align: center;
  color: #666;
}

.transaction-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.transaction-group-header {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.transaction-date {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 0 10px 0;
  color: #333;
}

.transaction-total {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #666;
}

.transaction-total p {
  margin: 0;
}

.income {
  color: blue;
  font-weight: bold;
}

.expense {
  color: red;
  font-weight: bold;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
}

.transaction-details {
  display: flex;
  flex-direction: column;
}

.transaction-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.transaction-note {
  color: #666;
  font-size: 0.9rem;
}

.transaction-amount {
  font-weight: bold;
  font-size: 1rem;
}