.transaction-list {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.transaction-group {
  background: #efeeee;
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
}

.transaction-date {
  font-size: 18px;
  font-weight: bold;
}

.transaction-total {
  color: blue;
  font-weight: bold;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.transaction-name {
  font-weight: bold;
}

.transaction-note {
  font-size: 12px;
  color: gray;
}

.transaction-amount {
  font-weight: bold;
}

.income {
  color: blue;
}

.expense {
  color: red;
}
